div{
    margin: 0 auto;
    width: 1100px;
    font-family: 'Lato', sans-serif;
}
a{
    color: rgb(186, 188, 189);
    text-decoration: none;
    grid-row: 1/2;
    grid-column: 3/4
}
.grid_container{
    display: grid;
    grid-template-columns: 30px 287px 165px 618px;
    grid-template-rows: 115px 425px 380px 150px;
}
.grid-item1{
    grid-row: 1/2;
    grid-column: 1/5;
    background-image: url("img/auto/header_bg.png");
}
.grid-item2{
    grid-row: 2/3;
    grid-column: 1/5;
    background-image: url("img/auto/banner_bg.png");
}
.grid-item3{
    grid-row: 4/5;
    grid-column: 1/5;
    background-image: url("img/auto/footer_bg2.png");
}
#grid-item4{
    padding: 20px;
    grid-row: 2/3;
    grid-column: 2/3;
}
#grid-item5{
    padding: 10px;
    grid-row: 1/2;
    grid-column: 2/3;
}
#slider1{
    padding: 20px 0px;
    grid-row: 3/4;
    grid-column: 2/3;
}
#slider2{
    padding: 20px 370px;
    grid-row: 3/4;
    grid-column: 2/3;
}
#slider3{
    padding: 20px 0px 0px 740px;
    grid-row: 3/4;
    grid-column: 2/3;
}
.footer-text{
    color: rgb(186, 188, 189);
    padding: 40px 0px;
    grid-column: 1/5;
    grid-row: 4/5;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
}
.menu{
    padding: 45px 0px 0px 0px;
    font-size: 20px;
    line-height: 22px;
}

.textbanner{
    color: rgb(186, 188, 189);
    grid-column:4/5;
    grid-row: 2/3;
    padding: 40px 0px 0px 280px;
    width: 300px;
    margin-left: 0px;
    margin-right: 0px;
    height: 30px;
}
.links{
    display: inline-block;
    text-align: center;
    padding-left: 20px;
}
i{
    margin: 0 auto;
    height: 30px;
}
.balk{
    grid-row: 1/2;
    grid-column: 3/4;
    width: 750px;
    padding-left: 100px;
    padding-top: 30px;
}
.slidertext{
    width: 1000px;
    padding-left: 10px;
    padding-top: 150px;
}
.slidertext1{
    width: 210px;
}
.slidertext2{
    width: 225px;
    padding-left: 135px;
}
.slider{
    display: inline-block;
    padding-left: 20px;
}